{% extends 'base.html.twig' %}

{% block meta_description %} La réponse numérique - blog officiel de l'Académie WS spécialisé en formations vidéo dans l'univers du digital  ! {% endblock %}

{% block title %}Blog officiel de l'Académie WS {{ parent() }} {% endblock %}

{% block body %}

<div class="row p-0">

    {# <nav class="nav-bar-smarphone navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            
            <div class="logo-smartphone d-flex flex-column align-items-start logo pt-3">
                <img src="{{ asset('logo.png')}}" width="auto" height="40px" title="Académie WS" alt="Académie WS">
                <p class="logo-headline text-less-grey m-0 p-0"> Blog officiel </p>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                <i class="text-secondary fas fa-bars" style="font-size:28px;"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                <i class="loupe fa-solid fa-magnifying-glass"></i>
                    <input type="search" placeholder="Rechercher un article" />
                </li>
            </ul>
            </div>
        </div>
    </nav> #}

    <div class="col-12 bg-secondary progression"> </div>

    <div class="d-flex flex-column align-items-center side-bar px-3 pb-3">

        <div class="d-flex flex-column align-items-center logo px-5 py-2">
            <img src="{{ asset('logo.png')}}" width="100%" title="Académie WS" alt="Académie WS">
            <p class="logo-headline"> Blog officiel </p>
        </div>

        <div class="d-flex align-items-center mt-5">

            <div class="owner relative">
                <img src="{{ asset('samih_habbani.JPG')}}" class="owner-img" width="200%" title="Académie WS" alt="Académie WS">
            </div>

            <h3 class="mt-3 p-2 owner-name"> Samih <br> Habbani <br> <span class="text-secondary"> <a class="text-secondary" href="http://www.academiews.fr">www.academiews.fr</a> </span> </h3>

        </div>
        
        <div class="d-flex w-100 mt-5">   
            <ul class="w-100 list-items">

                {% for category in listCategories %}
                    <li class="cursor-pointer px-5 py-4 text-primary fw-bold"> 
                        <a href="{{ path('articles', {id: category.id}) }}"> {{ category.name }} </a>
                    </li>
                {% endfor %}

                <li class="d-flex justify-content-between px-5 py-4 text-primary fw-bold"> 
                    <i style="color:#C13584;" class="fa-brands fa-instagram"></i>
                    <i style="color:#3b5998;" class="fa-brands fa-facebook"></i>
                    <i style="color:#000000;" class="fa-brands fa-tiktok"></i>
                    <i style="color:#FF0000;" class="fa-brands fa-youtube"></i>
                    <i style="color:#1DA1F2;" class="fa-brands fa-twitter"></i>
                    <i style="color:#1DA1F2;" class="fa-brands fa-linkedin"></i>
                </li>
            </ul>
        </div>
    </div>

    {# <div class="d-flex align-items-center header body-grey">
        <div class="h-100 w-100 d-flex align-items-center justify-content-end"> 
            <nav class="d-flex align-items-center">
                <ul class="d-flex align-items-center">
                    <li class="px-2"><a class="text-less-grey fw-bold" href="https://academiews.fr/categories">Nos formations vidéos</a></li>
                    <li class="px-2"><a class="text-less-grey fw-bold" href="{{ path('who_we_are') }}">Qui sommes-nous?</a></li>
                    <li class="px-2"><a class="text-less-grey fw-bold" href="{{ path('contact') }}">Contact</a></li>
                    <li class="px-2">
                        <i class="loupe fa-solid fa-magnifying-glass"></i>
                        <input type="search" placeholder="Rechercher un article" />
                    </li>
            </nav>
        </div>
    </div> #}

    {% include 'nav.html.twig' %}


    <div class="row mx-auto content">

        <div class="col-md-8 p-5 inner-content">

            <h1 class="mb-5 text-less-grey"> Nos derniers articles </h1>

            {% for article in listArticles %}
                <a href="{{ path('article', {id: 1}) }}">
                    <article class="col-md-10 d-flex mt-5">

                        <div class="col-md-3 picture">
                            <img src="{{ asset('article-1.jpg')}}" width="100%" >
                        </div>

                        <div class="col-md-9 chapo">
                            <p class=""> <span class="fw-bold"> {{ article.category.name }} </span> - {{ article.date |date("m/d/Y") }}</p>
                            <a href="{{ path('article', {id: article.id}) }}"> <h4> {{ article.title }} </h4></a>
                            <p class="text-grey"> {{ article.chapo[:250] ~ '...'  }} </p>
                            <span class="share-separator"></span>
                            <span class="share-article text-grey"> Partager l'article : </span>
                            <ul>
                                <i style="color:#1DA1F2;" class="fa-brands fa-twitter"></i>
                                <i style="color:#1DA1F2;" class="px-2 fa-brands fa-linkedin"></i>
                                <i style="color:#3b5998;" class="fa-brands fa-facebook"></i>
                            </ul>
                        </div>
                    </article>
                </a>
            {% endfor %}

            <div class="separator mt-5" style="height:2px; background:rgba(255,255,255, 0.05)"> </div>


        </div>

        <div class="h1-parent col-md-4 justify-content-center p-5">
            <h1 class="text-secondary"> Formations digitales en vidéo sans bla-bla ! </h1>
            <div class="main-title-separator"> </div>
        </div>  


        {% include 'footer.html.twig' %}

    </div>

</div>


{% endblock %}
