{% extends 'base.html.twig' %}

{% block meta_description %} 

    {% if searchSelect is not null %}
        Découvrez nos articles liés aux mots clés : {{ searchSelect }} et développez vos connaissances sans bla-bla ! 
    {% elseif categorySelected is not null %}
        Découvrez nos articles en {{ categorySelected.name }} et développez vos connaissances sans bla-bla ! 
    {% else %}
            Découvrez nos articles liés à l'univers du digital et développez vos connaissances sans bla-bla ! 
    {% endif %}

{% endblock %}

{% block title %}
    {% if searchSelect is not null %}
        Votre recherche avec les mots clés : {{ searchSelect }} : nos derniers articles {{parent()}}  
    {% elseif categorySelected is not null %}
        {{ categorySelected.name }} : nos derniers articles {{parent()}} 
    {% else %}
        Nos derniers articles {{parent()}} 
    {% endif %}
{% endblock %}

{% block body %}
    
    {{ render(controller('App\\Controller\\NavBarController::index')) }}


    <div class="global-layout">
        <div class="row py-5">

            {% include 'ariane.html.twig' %}

            <div class="col-8 mb-5 mx-auto">
                {% include 'messages.html.twig' %}
                
                {% if searchSelect is not null %}
                    <h1 class="text-center mb-5 text-less-grey"> Nos articles liés à votre recherche '{{ searchSelect }}' </h1>
                {% elseif categorySelected is not null %}
                    <h1 class="text-center mb-5 text-less-grey"> {{ categorySelected.name }} </h1>
                    <h2 class="text-center mb-5 text-grey fst-italic"> {{ categorySelected.description }}</h2>
                {% else %}
                    <h1 class="text-center mb-5 text-less-grey"> Tous nos articles </h1>
                {% endif %}

                {% if listArticles is not null and listArticles is empty %}

                    <p class="text-grey text-center"> Oups il semblerait que nous n'avons pas encore d'articles sur le sujet...</p>

                {% else %}

                    {% for article in listArticles %}
                        <article class="col-md-10 d-flex mt-5">

                            <div class="col-md-3 picture">
                                <img alt="{{ article.title }}" title="{{ article.title }}" src="{{ asset('' ~ article.picture)}}" width="100%" >
                            </div>

                            <div class="col-md-9 chapo">
                                <p class="text-grey"> <a class="text-grey" href="{{ path('articles', {id: article.id}) }}"><span class="fw-bold"> {{ article.category.name }}</a> </span> - {{ article.date |date("m/d/Y") }}</p>
                                <a aria-label="Partagez l'article intitulé '{{article.title}}' sur Linkedin." href="{{ path('article', {id: article.id}) }}"> <h4> {{ article.title }} </h4></a>
                                <p class="text-grey"> {{ article.chapo }} </p>
                                <span class="share-separator"></span>
                                <span class="share-article text-grey fst-italic very-small-font"> Partager l'article : </span>
                                <ul>
                                    <i style="color:#1DA1F2;" class="fa-brands fa-twitter"></i>
                                    <i style="color:#1DA1F2;" class="px-2 fa-brands fa-linkedin"></i>
                                    <i style="color:#3b5998;" class="fa-brands fa-facebook"></i>
                                </ul>
                            </div>
                        </article>

                        {% if loop.last == false %}
                            <div class="separator mt-5" style="height:2px; background:rgba(255,255,255, 0.05)"> </div>

                        {% endif %}

                    {% endfor %}

                {% endif %}

            </div>

                <div class="pb-5 col-md-8 mx-auto navigation">
                    {{ knp_pagination_render(listArticles) }}
                </div>  

                {{ render(controller('App\\Controller\\ThemesController::index')) }}

                <div class="row mx-auto px-5 pt-5 mb-5" id="newsletter">

                    <div class="col-md-8">
                        <h2 class="text-less-grey pt-5 pb-3"> Recevez par email toute l’actualité du digital </h2>
                        <form method="POST">
                            <div class="d-flex pb-3">
                                <input type="text" placeholder="Entrez votre adresse email" class="col-8 newsletter px-5 py-3" name="newsletter" >
                                <input class="text-less-grey px-3 bg-secondary" type="submit" value="JE M'INSCRIS">
                            </div>
                            <div class="d-flex pb-3">
                                <div class="mx-3">
                                    <input type="radio" id="test1" value="1" name="frequence" checked>
                                    <label class="text-grey" for="test1">Chaque matin</label>
                                </div>
                                <div class="mx-3">
                                    <input type="radio" id="test2" value="2" name="frequence">
                                    <label class="text-grey" for="test2">Chaque semaine</label>
                                </div>
                            </div>
                            <p class="col-7 text-grey fst-italic"> En cliquant sur "S'inscrire", vous acceptez les CGU ainsi que notre politique de confidentialité décrivant la finalité des traitements de vos données personnelles. </p>
                        </form>
                    </div>

                    <div class="d-flex col-md-4 align-items-end illustration-part">
                        <img alt="Abonnez-vous à la newsletter de la réponse numérique" title="Newsletter de la réponse numérique" class="w-100" src="{{ asset('newsletter.webp') }}">
                    </div>

                </div>

                {% include 'footer.html.twig' %}


        </div>
    </div>



{% endblock %}
