<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Stricti//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml" lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0;">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <table align="center" width="590" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    <a aria-label="Accéder au site de l'Académie WS." href="https://www.academiews.fr">
                                        <img src="https://www.academiews.fr/logo.png" alt="logo Académie WS" height="60px">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td height="60" style="font-size:30px; line-height:30px;">&nbsp;</td>
                            </tr>
                            
                        </tbody>
                    </table>    
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center" width="590" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td height="20" style="font-size:30px; line-height:30px;">&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td align="center" style="text-align: center; font-size: 24px; line-height: 28px">Hello, vous avez un nouveau message !</td>
                                            </tr>
                                            <tr>
                                                <td height="60" style="font-size:30px; line-height:30px;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 17px; line-height: 28px;">Contact : {{firstname|capitalize ~ " " ~ name|capitalize}}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 17px; line-height: 28px;">Email : {{adressEmail}}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 17px; line-height: 28px;">Telephone : {{phone}}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 17px; line-height: 28px;">Motif : {{object}}</td>
                                            </tr>
                                            <tr>
                                                <td height="60" style="font-size:30px; line-height:30px;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 17px; line-height: 28px;">Message :</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 17px; line-height: 28px">{{message}}</td>
                                            </tr>

                                            <tr>
                                                <td height="60" style="font-size:30px; line-height:30px;">&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td style="text-align:center;">
                                                    <a href="mailto:{{adressEmail}}"  style="color:#fff; background-color:#fc4364; border-radius:30px; padding:10px; text-decoration:none;">
                                                    Répondre au message
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td height="20" style="font-size:30px; line-height:30px;">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>    
                    
                                </td>
                            </tr>
                        </tbody>
                    </table>      
                </td>
            </tr>
        </tbody>
    </table>
         
</body>
</html>