{% extends 'base.html.twig' %}

{% block meta_description %} Contactez l'Académie WS pour toute question concernant l'univers de la formation digitale.  {% endblock %}

{% block title %}Contactez-nous {{parent()}} {% endblock %}

{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}


{% block body %}
    
{% include 'nav.html.twig' %}

{% for label, messages in app.flashes(['secondary', 'warning']) %}
    {% for message in messages %}
        <div class="col-md-6 mx-auto mt-5">
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}

<div class="global-layout">
    <div class="d-flex py-5">
        <div class="form-shadow-black relative row col-10 col-sm-10 col-md-6 mx-auto justify-content-center align-items-centerwhite smallBorderRadius p-0 my-5">
            <div class="form-circle"> </div>
            {{ form_start(contactForm, {"attr": {"class": "col-md-12 row px-5 py-5 justify-content-center" } }) }}
                <div class="col-md-12">
                    <h1 class="text-less-grey h3 mb-3 font-weight-normal text-center">Contactez-nous</h1>
                </div>
                {{ form_row(contactForm.firstname) }}
                {{ form_row(contactForm.lastname) }}
                {{ form_row(contactForm.email) }}
                {{ form_row(contactForm.phone) }}
                {{ form_row(contactForm.object) }}
                {{ form_row(contactForm.message) }}

                <div class="d-flex justify-content-center">
                    <button type="submit" class="text-less-grey btn btn-secondary mt-4 col-md-6 buttonBorderRadius">Envoyer</button>
                </div>
            {{ form_end(contactForm) }}

            </div>
        </div>
    
            {% include 'footer.html.twig' %}

    </div>
</div>


{% endblock %}
