{% extends 'base.html.twig' %}

{% block meta_description %} {{ article.chapo }} {% endblock %}
{% block title %} {{ article.title }} {% endblock %}

{% block metas %} 

<meta name="twitter:card" content="photo" />
<meta name="twitter:site" content="@lareponsenumerique" />
<meta name="twitter:creator" content="@lareponsenumerique" />
<meta name="twitter:image:src" content="https://www.lareponsenumerique.fr/{{article.picture}}">
<meta property="og:url" content="https://www.lareponsenumerique.fr/article/{{article.id}}" />
<meta property="og:title" content="{{article.title}}" />
<meta property="og:description" content="{{article.chapo}}" />
<meta property="og:image" content="https://www.lareponsenumerique.fr/{{article.picture}}" />

{% endblock %}

{% block body %}

<div class="detail-article">

    <div class="row align-items-center w-100" id="header-article">

        <div class="d-flex col-3 align-items-center justify-content-center home-part bg-darkGrey">
            <a href="{{ path('app_home') }}">
                <i style="font-size:30px" class="fa-solid fa-house"></i>
            </a>
        </div>

        <div class="d-flex col-9 article-part">
            <div class="d-flex col-6 align-items-center justify-content-around align-items-center nav bg-secondary text-white fw-bold previous">
                <i style="font-size:3rem" class="fa-solid fa-arrow-left"></i> 
            </div>
            <div class="d-flex col-6 align-items-center justify-content-around align-items-center nav bg-secondary text-white fw-bold next"> 
                <i style="font-size:3rem" class="fa-solid fa-arrow-right"></i>
            </div>
        </div>

        <div class="col-12 progression">
            <div class="progression-value"> </div>
        </div>

    </div>


{# ARTICLE #}
    <div id="article" class="row py-5 mt-5">

        <div class="row col-8 mx-auto justify-content-center flex-column align-items-center">

            <h1 class="text-center mb-5 text-less-grey"> {{ article.title }} </h1>

            <p class="text-center mb-5 text-grey"> {{article.chapo}} </p>
            
            <div class="d-flex justify-content-center">
                <a href="" class="btn bg-secondary text-white mb-5 text-grey">PARTAGER L'ARTICLE</a>
            </div>
        
            <div class="d-flex justify-content-center author text-grey mb-5">
                <span class="byline">{{article.author}} </span>&nbsp;-&nbsp;<span class="posted-on"> Publié le 
                <time class="entry-date published updated" datetime="2023-01-10T11:16:57+01:00"> {{ article.date |date("m/d/Y") }}</time></span>
            </div>

            <div class="d-flex flex-column">
                <img title="{{ article.title }}" alt="{{ article.title }}" width="100%" src="{{ asset('' ~ article.picture)}}" >
                <p class="pt-2 text-grey legend"> {{ article.legendMainPicture }} © Académie WS - <a class="text-secondary" href="https://academiews.fr"> academiews.fr </a> </p>
            </div>

            <div class="article-content my-5">

                {{ article.description|raw }}

            </div>
            
        </div>

        <div class="row mx-auto related-subjects">

            <div class="d-flex flex-wrap col-8 mx-auto py-5">

                <span class="text-less-grey fw-bold">Sujets liés :</span>

                <ul class="d-flex ms-2">

                {% for relatedSubject in article.relatedSubjects %}
                    <div class="d-flex">
                        <li> 
                            <a class="text-secondary" href="{{ path('articles_by_subjects', {subject:relatedSubject}) }}"> {{relatedSubject}} </a>
                        </li> 
                        <span class="text-less-grey px-2"> / <span>
                    </div>
                {% endfor %}

                </ul>
            </div>

            <div class="d-flex col-8 mx-auto">

                <a href="" class="py-3 btn bg-secondary text-white mb-5 text-grey">PARTAGER L'ARTICLE</a>
                <a href="" class="py-3 ms-5 btn bg-secondary text-white mb-5 text-grey">PARTAGER L'ARTICLE</a>

            </div>

        </div>


        <div class="row col-md-12 mx-auto justify-content-center" id="other-articles">

            <div class="col-8">

                <h2 class="my-5 text-less-grey"> Consultez des articles similaires </h2>

                <div class="row list-related-articles">

                    {% for relatedArticle in relatedArticles %}

                        {# un article #}
                        <div class="col-sm-12 col-md-4 p-2">
                            <div class="col-md-12 d-flex flex-column article p-4 align-items-start form-shadow-white">

                                <div class="d-flex align-items-start">

                                    <img title="{{ article.title }}" alt="{{ article.title }}" width="150px" src="{{ asset('' ~ article.picture)}}" >

                                    <div class="d-flex flex-column">
                                        <p class="text-less-grey ps-2 my-0"> {{ relatedArticle.category.name }} </p>
                                        <p class="text-grey ps-2 my-0"> {{ relatedArticle.author }} </p>
                                    </div>

                                </div>

                                <p class="text-grey my-4">
                                    {{ article.chapo[:150] ~ '...'  }}
                                </p>

                                <a href="{{ path('article', {id:relatedArticle.id}) }}" class="py-3 btn btn-outline-secondary text-white text-grey">Accéder à l'article</a>

                            </div>
                        </div>

                    {% endfor %}

                </div>
                
            </div>

        </div>

        {# newsletter #}

        <div class="row mx-auto my-5 px-5 pt-5" id="newsletter">

            <div class="col-md-8">
                <h2 class="text-less-grey pt-5 pb-3"> Recevez par email toute l’actualité du digital </h2>
                    <form method="POST">
                        <div class="d-flex pb-3">
                            <input type="text" placeholder="Entre votre adresse email" class="col-8 newsletter px-5 py-3" name="email" >
                            <input class="text-less-grey px-3 bg-secondary" type="submit" value="JE M'INSCRIS">
                        </div>
                        <div class="d-flex pb-3">
                            <div class="mx-3">
                                <input type="radio" id="test1" name="radio-group" checked>
                                <label class="text-grey" for="test1">Chaque matin</label>
                            </div>
                            <div class="mx-3">
                                <input type="radio" id="test2" name="radio-group">
                                <label class="text-grey" for="test2">Chaque matin</label>
                            </div>
                        </div>

                        <p class="col-7 text-grey fst-italic"> En cliquant sur "S'inscrire", vous acceptez les CGU ainsi que notre politique de confidentialité décrivant la finalité des traitements de vos données personnelles. </p>

                    </form>

            </div>

            <div class="d-flex col-md-4 align-items-end illustration-part">
                <img alt="Abonnez-vous à la newsletter de la réponse numérique" title="Newsletter de la réponse numérique" class="w-100" src="{{ asset('newsletter.png') }}">
            </div>

        </div>
    </div>

    {% include 'footer.html.twig' %}


{% endblock %}
